{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"plugin:prettier/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"plugins": ["prettier", "@typescript-eslint"],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"rules": {}
}
