

/*! purgecss start ignore */
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import 'mixins';
// @import 'themes';
@import 'variables';

body {
	background: var(--primary-color);
  // @include theme-aware('background', 'background');
  // @include theme-aware('color', 'text-primary');
}
h1 {
	font-size: 59px;
	font-weight: bold;
}
/*! purgecss end ignore */
// @import "tailwindcss/utilities";

